[submodule "React"]
	path = React
	url = https://github.com/iampratapbabu/Project-Starting-Files
[submodule "Project-Starting-Files"]
	path = Project-Starting-Files
	url = https://github.com/iampratapbabu/Project-Starting-Files
